
@{
    ViewBag.Title = "Index";
}

<h2>Hello Manager</h2>
<a href="~/Manager/AddProject" class="btn btn-default bg-success">Add Project</a>
<a href="~/Employee/Index" class="btn btn-default bg-primary">Sheets List</a>

<a href="~/Manager/Signin" class="btn btn-default bg-warning">Add Employee</a>

<a href="~/Admin/ViewProjects" class="btn btn-default bg-info">View Projects</a>

