
@{
    ViewBag.Title = "Index";
}

<h2>Hello Admin</h2>
<a href="~/Admin/AddProject" class="btn btn-default bg-success">Add Project</a>

<a href="~/Employee/Index" class="btn btn-default bg-info">TimeSheet List</a>

<a href="~/Admin/Signin" class="btn btn-default bg-warning">Add Manager/Employee</a>

<a href="~/Admin/ViewProjects" class="btn btn-default bg-primary">View Projects</a>